<div class="container mt-3 fondo " align="center">
    <div class="">
        <div class="animate__animated animate__fadeInDown">
            <i class="fab fa-opencart fa-4x"></i>
        </div>
        <div class="">
            <h1 class="ecoStore animate__animated animate__fadeInDown">
                Bienvenidos a EcoStore
            </h1>        
        </div>        
    </div>
    <div class="row mt-2">
        <div class="col-xxl-4 col-xl-6 p-3">
            <div class="card shadow border-0 animate__animated animate__zoomIn" style="width: 20rem;">
                <img src="assets\usuarios.png" class="card-img-top" alt="Imagen de usuarios">
                <div class="card-body">
                  <h5 class="card-title">Usuarios</h5>
                  <div class="row">
                      <div class="col">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-card btn-sm" [routerLink]="'crear'">Crear</button>
                            <button type="button" class="btn btn-card btn-sm">Actualizar</button>
                            <button type="button" class="btn btn-card btn-sm">Consultar</button>
                            <button type="button" class="btn btn-card btn-sm">Eliminar</button>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-4 col-xl-6 p-3">
            <div class="card shadow border-0 animate__animated animate__zoomIn" style="width: 20rem;">
                <img src="assets\Clientes.png" class="card-img-top" alt="Imagen de Clientes">
                <div class="card-body">
                  <h5 class="card-title">Clientes</h5>
                  <div class="row">
                      <div class="col">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-card btn-sm" [routerLink]="'clientes/crear'">Crear</button>
                            <button type="button" class="btn btn-card btn-sm" [routerLink]="'clientes/actualizar'">Actualizar</button>
                            <button type="button" class="btn btn-card btn-sm" [routerLink]="'clientes/consultar'">Consultar</button>
                            <button type="button" class="btn btn-card btn-sm" [routerLink]="'clientes/eliminar'">Eliminar</button>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-xxl-4 col-xl-6 p-3">
            <div class="card shadow border-0 animate__animated animate__zoomIn" style="width: 20rem;">
                <img src="assets\Productos.png" class="card-img-top" alt="Imagen de productos">
                <div class="card-body">
                  <h5 class="card-title">Productos</h5>
                  <div class="row">
                      <div class="col">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-card btn-sm">Subir Archivo</button>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-xxl-4 col-xl-6 p-3">
            <div class="card shadow border-0 animate__animated animate__zoomIn" style="width: 20rem;">
                <img src="assets\Ventas.png" class="card-img-top" alt="Imagen de productos">
                <div class="card-body">
                  <h5 class="card-title">Ventas</h5>
                  <div class="row">
                      <div class="col">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-card btn-sm">Crear</button>
                            <button type="button" class="btn btn-card btn-sm">Actualizar</button>
                            <button type="button" class="btn btn-card btn-sm">Consultar</button>
                            <button type="button" class="btn btn-card btn-sm">Eliminar</button>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-xxl-4 col-xl-6 p-3">
            <div class="card shadow border-0 animate__animated animate__zoomIn" style="width: 20rem;">
                <img src="assets\Reportes.png" class="card-img-top" alt="Imagen de productos">
                <div class="card-body">
                  <h5 class="card-title">Reportes</h5>
                  <div class="row">
                      <div class="col">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-card btn-sm">Crear</button>
                            <button type="button" class="btn btn-card btn-sm">Actualizar</button>
                            <button type="button" class="btn btn-card btn-sm">Consultar</button>
                            <button type="button" class="btn btn-card btn-sm">Eliminar</button>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
