.ecoStore{
    font-family: 'Berkshire Swash', cursive;
    font-size: 23px;
    color: #184D47;
}

.ecoStore:hover{
    color: #184D47;
}

.color{
    background-color: #E5EBEB;
}

.color ul li a{
    color: #184D47;
}

.color ul li a:hover{
    background-color: #BFCECC;
    border-radius: 5px;
}

