.ecoStore{
    font-family: 'Berkshire Swash', cursive;
    font-size: 30px;
    color: #EFFBF7;
}

.color{
    background-color: #184D47;
}

.color ul li a{
    color: #EFFBF7;
}

.color ul li a:hover{
    background-color: #255751;
    border-radius: 5px;
}


.color button:hover{
    background-color: #32615B;
}






 