<div class="container mt-4 fondo" align="center">
    <div class="row mt-2">
        <div class="col-xxl">
            <div class="card shadow border-0 animate__animated animate__zoomIn" style="width: 28rem;">
                <img src="assets\usuarios.png" class="card-img-top" alt="Imagen de usuarios">
                <div class="card-body">
                  <h5 class="card-title">Usuarios</h5>
                  <div class="row">
                      <div class="col">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-card" [routerLink]="'crear'">Crear</button>
                            <button type="button" class="btn btn-card">Actualizar</button>
                            <button type="button" class="btn btn-card">Consultar</button>
                            <button type="button" class="btn btn-card">Eliminar</button>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
